In [ ]:
## Data Manipulation

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"C:\Users\anokh\OneDrive\Desktop\veracity\sales_data (2).csv")

In [3]:
df.head(20)

       Product     Category   Price  Quantity  Discount
0        Phone  Electronics  387.05        29      0.10
1       Laptop  Electronics  784.10        21      0.05
2        Shirt      Fashion  172.87        11      0.10
3   Headphones  Electronics  868.85        36      0.10
4   Headphones  Electronics   40.17         2      0.15
5       Tablet  Electronics  939.78         2      0.15
6        Phone  Electronics  199.74        12      0.05
7        Phone  Electronics  534.26        44      0.00
8        Watch      Fashion  305.40        42      0.15
9       Laptop  Electronics  974.28        15       NaN
10      Laptop  Electronics  108.79        44      0.15
11       Phone  Electronics  600.57         3      0.20
12  Headphones  Electronics  615.39        21      0.00
13  Headphones  Electronics   83.75         4      0.00
14      Laptop  Electronics  966.32         9      0.05
15  Headphones  Electronics  115.72        20      0.15
16       Watch      Fashion  451.35         7      0.15
17  Headphones  Electronics  505.27        47      0.10
18         Bag      Fashion  911.13        36      0.05
19       Shirt      Fashion  669.27         2       NaN

In [4]:
# fill missing discounts with 0
df['Discount'] = pd.to_numeric(df['Discount'], errors = 'coerce')
df['Discount'] = df['Discount'].fillna(0)

In [5]:
df.head(20)

       Product     Category   Price  Quantity  Discount
0        Phone  Electronics  387.05        29      0.10
1       Laptop  Electronics  784.10        21      0.05
2        Shirt      Fashion  172.87        11      0.10
3   Headphones  Electronics  868.85        36      0.10
4   Headphones  Electronics   40.17         2      0.15
5       Tablet  Electronics  939.78         2      0.15
6        Phone  Electronics  199.74        12      0.05
7        Phone  Electronics  534.26        44      0.00
8        Watch      Fashion  305.40        42      0.15
9       Laptop  Electronics  974.28        15      0.00
10      Laptop  Electronics  108.79        44      0.15
11       Phone  Electronics  600.57         3      0.20
12  Headphones  Electronics  615.39        21      0.00
13  Headphones  Electronics   83.75         4      0.00
14      Laptop  Electronics  966.32         9      0.05
15  Headphones  Electronics  115.72        20      0.15
16       Watch      Fashion  451.35         7      0.15
17  Headphones  Electronics  505.27        47      0.10
18         Bag      Fashion  911.13        36      0.05
19       Shirt      Fashion  669.27         2      0.00

In [6]:
## add new column
df['Revenue'] = df['Price'] * df['Quantity']

In [7]:
df.head(10)

      Product     Category   Price  Quantity  Discount   Revenue
0       Phone  Electronics  387.05        29      0.10  11224.45
1      Laptop  Electronics  784.10        21      0.05  16466.10
2       Shirt      Fashion  172.87        11      0.10   1901.57
3  Headphones  Electronics  868.85        36      0.10  31278.60
4  Headphones  Electronics   40.17         2      0.15     80.34
5      Tablet  Electronics  939.78         2      0.15   1879.56
6       Phone  Electronics  199.74        12      0.05   2396.88
7       Phone  Electronics  534.26        44      0.00  23507.44
8       Watch      Fashion  305.40        42      0.15  12826.80
9      Laptop  Electronics  974.28        15      0.00  14614.20

In [8]:
# apply discount ---final revenue
df['Final_Revenue'] = df['Revenue'] * (1-df['Discount'])

In [9]:
df.head(10)

,Product,Category,Price,Quantity,Discount,Revenue,Final_Revenue
0,Phone,Electronics,387.05,29,0.10,11224.45,10102.005
1,Laptop,Electronics,784.10,21,0.05,16466.10,15642.795
2,Shirt,Fashion,172.87,11,0.10,1901.57,1711.413
3,Headphones,Electronics,868.85,36,0.10,31278.60,28150.740
4,Headphones,Electronics,40.17,2,0.15,80.34,68.289
5,Tablet,Electronics,939.78,2,0.15,1879.56,1597.626
6,Phone,Electronics,199.74,12,0.05,2396.88,2277.036
7,Phone,Electronics,534.26,44,0.00,23507.44,23507.440
8,Watch,Fashion,305.40,42,0.15,12826.80,10902.780
9,Laptop,Electronics,974.28,15,0.00,14614.20,14614.200

In [10]:
# filter
electronics_df = df[df['Category'] == 'Electronics']
print("Electronics only:\n", electronics_df.head(),"\n")

Electronics only:
       Product     Category   Price  Quantity  Discount   Revenue  \
0       Phone  Electronics  387.05        29      0.10  11224.45
1      Laptop  Electronics  784.10        21      0.05  16466.10
3  Headphones  Electronics  868.85        36      0.10  31278.60
4  Headphones  Electronics   40.17         2      0.15     80.34
5      Tablet  Electronics  939.78         2      0.15   1879.56

   Final_Revenue
0      10102.005
1      15642.795
3      28150.740
4         68.289
5       1597.626

In [11]:
# group by category --- total sales
category_sales = df.groupby("Category")["Final_Revenue"].sum()
print("Total sales by category:\n", category_sales,"\n")

Total sales by category:
 Category
Electronics    295145.444
Fashion        195096.718
Name: Final_Revenue, dtype: float64

In [12]:
df.head(10)

,Product,Category,Price,Quantity,Discount,Revenue,Final_Revenue
0,Phone,Electronics,387.05,29,0.10,11224.45,10102.005
1,Laptop,Electronics,784.10,21,0.05,16466.10,15642.795
2,Shirt,Fashion,172.87,11,0.10,1901.57,1711.413
3,Headphones,Electronics,868.85,36,0.10,31278.60,28150.740
4,Headphones,Electronics,40.17,2,0.15,80.34,68.289
5,Tablet,Electronics,939.78,2,0.15,1879.56,1597.626
6,Phone,Electronics,199.74,12,0.05,2396.88,2277.036
7,Phone,Electronics,534.26,44,0.00,23507.44,23507.440
8,Watch,Fashion,305.40,42,0.15,12826.80,10902.780
9,Laptop,Electronics,974.28,15,0.00,14614.20,14614.200

In [14]:
# sorting
top_products = df.groupby("Product")["Final_Revenue"].sum().sort_values(ascending= False).head(5)
print("Top 5 Products By Revenue:\n", top_products, "\n")

Top 5 Products By Revenue:
 Product
Headphones    113364.0040
Laptop         86945.9400
Phone          84025.0780
Shoes          80740.1325
Bag            41236.3760
Name: Final_Revenue, dtype: float64

In [15]:
summary_stats = df.describe()
print("Summary Statistics:\n", summary_stats, "\n")

Summary Statistics:
             Price   Quantity   Discount      Revenue  Final_Revenue
count   50.000000  50.000000  50.000000     50.00000      50.000000
mean   491.769400  22.680000   0.087000  10643.77540    9804.843240
std    291.734767  14.820614   0.066861   8975.40835    8505.755674
min     35.320000   2.000000   0.000000     80.34000      68.289000
25%    223.970000   9.000000   0.012500   3249.03250    2805.649875
50%    494.020000  21.000000   0.100000   8233.30000    7185.455000
75%    692.985000  36.000000   0.150000  16330.11500   15385.646250
max    974.280000  48.000000   0.200000  32800.68000   31160.646000

In [17]:
df.head(200)

,Product,Category,Price,Quantity,Discount,Revenue,Final_Revenue
0,Phone,Electronics,387.05,29,0.10,11224.45,10102.0050
1,Laptop,Electronics,784.10,21,0.05,16466.10,15642.7950
2,Shirt,Fashion,172.87,11,0.10,1901.57,1711.4130
3,Headphones,Electronics,868.85,36,0.10,31278.60,28150.7400
4,Headphones,Electronics,40.17,2,0.15,80.34,68.2890
5,Tablet,Electronics,939.78,2,0.15,1879.56,1597.6260
6,Phone,Electronics,199.74,12,0.05,2396.88,2277.0360
7,Phone,Electronics,534.26,44,0.00,23507.44,23507.4400
8,Watch,Fashion,305.40,42,0.15,12826.80,10902.7800
9,Laptop,Electronics,974.28,15,0.00,14614.20,14614.2000
10,Laptop,Electronics,108.79,44,0.15,4786.76,4068.7460
11,Phone,Electronics,600.57,3,0.20,1801.71,1441.3680
12,Headphones,Electronics,615.39,21,0.00,12923.19,12923.1900
13,Headphones,Electronics,83.75,4,0.00,335.00,335.0000
14,Laptop,Electronics,966.32,9,0.05,8696.88,8262.0360
15,Headphones,Electronics,115.72,20,0.15,2314.40,1967.2400
16,Watch,Fashion,451.35,7,0.15,3159.45,2685.5325
17,Headphones,Electronics,505.27,47,0.10,23747.69,21372.9210
18,Bag,Fashion,911.13,36,0.05,32800.68,31160.6460
19,Shirt,Fashion,669.27,2,0.00,1338.54,1338.5400
20,Laptop,Electronics,529.67,42,0.15,22246.14,18909.2190
21,Tablet,Electronics,201.16,18,0.05,3620.88,3439.8360
22,Watch,Fashion,460.76,10,0.00,4607.60,4607.6000
23,Shoes,Fashion,928.13,31,0.00,28772.03,28772.0300
24,Shirt,Fashion,212.06,40,0.20,8482.40,6785.9200
25,Tablet,Electronics,400.90,18,0.20,7216.20,5772.9600
26,Headphones,Electronics,595.02,25,0.15,14875.50,12644.1750
27,Shoes,Fashion,614.89,45,0.00,27670.05,27670.0500
28,Phone,Electronics,310.35,45,0.00,13965.75,13965.7500
29,Phone,Electronics,35.32,9,0.00,317.88,317.8800
30,Watch,Fashion,214.74,24,0.10,5153.76,4638.3840
31,Phone,Electronics,214.87,8,0.10,1718.96,1547.0640
32,Shoes,Fashion,794.37,5,0.05,3971.85,3773.2575
33,Shoes,Fashion,371.30,41,0.15,15223.30,12939.8050
34,Shirt,Fashion,865.84,8,0.15,6926.72,5887.7120
35,Laptop,Electronics,344.28,48,0.00,16525.44,16525.4400
36,Bag,Fashion,338.68,35,0.15,11853.80,10075.7300
37,Phone,Electronics,644.81,27,0.10,17409.87,15668.8830
38,Watch,Fashion,482.77,37,0.00,17862.49,17862.4900
39,Phone,Electronics,851.94,5,0.05,4259.70,4046.7150
40,Shirt,Fashion,251.27,14,0.10,3517.78,3166.0020
41,Shoes,Fashion,532.28,15,0.05,7984.20,7584.9900
42,Headphones,Electronics,44.91,13,0.10,583.83,525.4470
43,Phone,Electronics,50.80,39,0.00,1981.20,1981.2000
44,Laptop,Electronics,328.07,32,0.15,10498.24,8923.5040
45,Headphones,Electronics,909.42,23,0.20,20916.66,16733.3280
46,Shirt,Fashion,549.04,29,0.15,15922.16,13533.8360
47,Phone,Electronics,944.00,7,0.10,6608.00,5947.2000
48,Headphones,Electronics,700.89,28,0.05,19624.92,18643.6740
49,Phone,Electronics,631.87,6,0.15,3791.22,3222.5370

In [18]:
# Filter
high_sales = df[df["Final_Revenue"] > 5000]
print("Products with Final Revenue > 5000:\n", high_sales,"\n")

Products with Final Revenue > 5000:
        Product     Category   Price  Quantity  Discount   Revenue  \
0        Phone  Electronics  387.05        29      0.10  11224.45
1       Laptop  Electronics  784.10        21      0.05  16466.10
3   Headphones  Electronics  868.85        36      0.10  31278.60
7        Phone  Electronics  534.26        44      0.00  23507.44
8        Watch      Fashion  305.40        42      0.15  12826.80
9       Laptop  Electronics  974.28        15      0.00  14614.20
12  Headphones  Electronics  615.39        21      0.00  12923.19
14      Laptop  Electronics  966.32         9      0.05   8696.88
17  Headphones  Electronics  505.27        47      0.10  23747.69
18         Bag      Fashion  911.13        36      0.05  32800.68
20      Laptop  Electronics  529.67        42      0.15  22246.14
23       Shoes      Fashion  928.13        31      0.00  28772.03
24       Shirt      Fashion  212.06        40      0.20   8482.40
25      Tablet  Electronics  400.90        18      0.20   7216.20
26  Headphones  Electronics  595.02        25      0.15  14875.50
27       Shoes      Fashion  614.89        45      0.00  27670.05
28       Phone  Electronics  310.35        45      0.00  13965.75
33       Shoes      Fashion  371.30        41      0.15  15223.30
34       Shirt      Fashion  865.84         8      0.15   6926.72
35      Laptop  Electronics  344.28        48      0.00  16525.44
36         Bag      Fashion  338.68        35      0.15  11853.80
37       Phone  Electronics  644.81        27      0.10  17409.87
38       Watch      Fashion  482.77        37      0.00  17862.49
41       Shoes      Fashion  532.28        15      0.05   7984.20
44      Laptop  Electronics  328.07        32      0.15  10498.24
45  Headphones  Electronics  909.42        23      0.20  20916.66
46       Shirt      Fashion  549.04        29      0.15  15922.16
47       Phone  Electronics  944.00         7      0.10   6608.00
48  Headphones  Electronics  700.89        28      0.05  19624.92

    Final_Revenue
0       10102.005
1       15642.795
3       28150.740
7       23507.440
8       10902.780
9       14614.200
12      12923.190
14       8262.036
17      21372.921
18      31160.646
20      18909.219
23      28772.030
24       6785.920
25       5772.960
26      12644.175
27      27670.050
28      13965.750
33      12939.805
34       5887.712
35      16525.440
36      10075.730
37      15668.883
38      17862.490
41       7584.990
44       8923.504
45      16733.328
46      13533.836
47       5947.200
48      18643.674

In [19]:
df.head(15)

,Product,Category,Price,Quantity,Discount,Revenue,Final_Revenue
0,Phone,Electronics,387.05,29,0.10,11224.45,10102.005
1,Laptop,Electronics,784.10,21,0.05,16466.10,15642.795
2,Shirt,Fashion,172.87,11,0.10,1901.57,1711.413
3,Headphones,Electronics,868.85,36,0.10,31278.60,28150.740
4,Headphones,Electronics,40.17,2,0.15,80.34,68.289
5,Tablet,Electronics,939.78,2,0.15,1879.56,1597.626
6,Phone,Electronics,199.74,12,0.05,2396.88,2277.036
7,Phone,Electronics,534.26,44,0.00,23507.44,23507.440
8,Watch,Fashion,305.40,42,0.15,12826.80,10902.780
9,Laptop,Electronics,974.28,15,0.00,14614.20,14614.200
10,Laptop,Electronics,108.79,44,0.15,4786.76,4068.746
11,Phone,Electronics,600.57,3,0.20,1801.71,1441.368
12,Headphones,Electronics,615.39,21,0.00,12923.19,12923.190
13,Headphones,Electronics,83.75,4,0.00,335.00,335.000
14,Laptop,Electronics,966.32,9,0.05,8696.88,8262.036

In [21]:
sorted_df = df.sort_values(by=["Category","Final_Revenue"],ascending =[True,False])
print("Sorted by category & Final Revenue:\n", sorted_df.head(),"\n")

Sorted by category & Final Revenue:
        Product     Category   Price  Quantity  Discount   Revenue  \
3   Headphones  Electronics  868.85        36      0.10  31278.60
7        Phone  Electronics  534.26        44      0.00  23507.44
17  Headphones  Electronics  505.27        47      0.10  23747.69
20      Laptop  Electronics  529.67        42      0.15  22246.14
48  Headphones  Electronics  700.89        28      0.05  19624.92

    Final_Revenue
3       28150.740
7       23507.440
17      21372.921
20      18909.219
48      18643.674

In [22]:
# find top 3 salees per category
top3_per_category = (df.sort_values("Final_Revenue", ascending= False).groupby("Category").head(3))
print("Top 3 products per category:\n",top3_per_category)

Top 3 products per category:
        Product     Category   Price  Quantity  Discount   Revenue  \
18         Bag      Fashion  911.13        36      0.05  32800.68
23       Shoes      Fashion  928.13        31      0.00  28772.03
3   Headphones  Electronics  868.85        36      0.10  31278.60
27       Shoes      Fashion  614.89        45      0.00  27670.05
7        Phone  Electronics  534.26        44      0.00  23507.44
17  Headphones  Electronics  505.27        47      0.10  23747.69

    Final_Revenue
18      31160.646
23      28772.030
3       28150.740
27      27670.050
7       23507.440
17      21372.921

In [25]:
# pivot table--- (cate vs avg revenue & quantity)
pivot_table = pd.pivot_table(df, values =["Final_Revenue", "Quantity"],
                             index="Category",
                             aggfunc = {"Final_Revenue": "mean","Quantity":"sum"})
print("Pivot Table:\n",pivot_table,"\n")

Pivot Table:
              Final_Revenue  Quantity
Category
Electronics    9223.295125       702
Fashion       10838.706556       432

In [27]:
# crosstab (discount usage frequency per category)
discount_crosstab = pd.crosstab(df["Category"],df["Discount"])
print("Discount Frequency by Category:\n",discount_crosstab,"\n")

Discount Frequency by Category:
 Discount     0.00  0.05  0.10  0.15  0.20
Category
Electronics     8     6     7     8     3
Fashion         5     3     3     6     1

In [28]:
df.head(10)

,Product,Category,Price,Quantity,Discount,Revenue,Final_Revenue
0,Phone,Electronics,387.05,29,0.10,11224.45,10102.005
1,Laptop,Electronics,784.10,21,0.05,16466.10,15642.795
2,Shirt,Fashion,172.87,11,0.10,1901.57,1711.413
3,Headphones,Electronics,868.85,36,0.10,31278.60,28150.740
4,Headphones,Electronics,40.17,2,0.15,80.34,68.289
5,Tablet,Electronics,939.78,2,0.15,1879.56,1597.626
6,Phone,Electronics,199.74,12,0.05,2396.88,2277.036
7,Phone,Electronics,534.26,44,0.00,23507.44,23507.440
8,Watch,Fashion,305.40,42,0.15,12826.80,10902.780
9,Laptop,Electronics,974.28,15,0.00,14614.20,14614.200

In [30]:
# create a new column -- high/low sales
df["Sales_Flag"] = df["Final_Revenue"].apply(lambda x: "High" if x > 3000 else "Low")
print("Data with Sales_Flag column:\n", df.head(),"\n")

Data with Sales_Flag column:
       Product     Category   Price  Quantity  Discount   Revenue  \
0       Phone  Electronics  387.05        29      0.10  11224.45
1      Laptop  Electronics  784.10        21      0.05  16466.10
2       Shirt      Fashion  172.87        11      0.10   1901.57
3  Headphones  Electronics  868.85        36      0.10  31278.60
4  Headphones  Electronics   40.17         2      0.15     80.34

   Final_Revenue Sales_Flag
0      10102.005       High
1      15642.795       High
2       1711.413        Low
3      28150.740       High
4         68.289        Low

In [31]:
df.head(10)

,Product,Category,Price,Quantity,Discount,Revenue,Final_Revenue,Sales_Flag
0,Phone,Electronics,387.05,29,0.10,11224.45,10102.005,High
1,Laptop,Electronics,784.10,21,0.05,16466.10,15642.795,High
2,Shirt,Fashion,172.87,11,0.10,1901.57,1711.413,Low
3,Headphones,Electronics,868.85,36,0.10,31278.60,28150.740,High
4,Headphones,Electronics,40.17,2,0.15,80.34,68.289,Low
5,Tablet,Electronics,939.78,2,0.15,1879.56,1597.626,Low
6,Phone,Electronics,199.74,12,0.05,2396.88,2277.036,Low
7,Phone,Electronics,534.26,44,0.00,23507.44,23507.440,High
8,Watch,Fashion,305.40,42,0.15,12826.80,10902.780,High
9,Laptop,Electronics,974.28,15,0.00,14614.20,14614.200,High

In [ ]:
load dataset
Explore dataset
clean data
Transform data
filter
sort
group & aggreegate
pivot table 7 crosstab
And or not function
iter rows
iter tuple
iloc